<launch>
  <!-- YOLOv9 Launch File for ROS 1 -->

  <arg name="model" default="yolov9c.pt"/>
  <arg name="tracker" default="bytetrack.yaml"/>
  <arg name="device" default="cuda:0"/>
  <arg name="enable" default="True"/>
  <arg name="threshold" default="0.5"/>
  <arg name="input_image_topic" default="/rfans_camera/image_raw/compressed"/>
  <arg name="image_reliability" default="2"/>
  <arg name="namespace" default="yolo"/>

  <include file="$(find yolov9_bringup)/launch/yolov8.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="tracker" value="$(arg tracker)" />
    <arg name="device" value="$(arg device)" />
    <arg name="enable" value="$(arg enable)" />
    <arg name="threshold" value="$(arg threshold)" />
    <arg name="input_image_topic" value="$(arg input_image_topic)" />
    <arg name="image_reliability" value="$(arg image_reliability)" />
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</launch>
